{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-3">
        <h5 class="card-header">Sobre nós</h5>
        <div class="card-body">
            <p class="card-text"> Bem-vindo ao Django Blog!

                Somos uma equipe apaixonada por compartilhar conhecimento, inspirar ideias e criar comunidades online.
                No Django Blog, nosso objetivo é oferecer conteúdo de qualidade sobre uma variedade de tópicos, desde
                desenvolvimento web até dicas de produtividade e muito mais.

                Nossa equipe é composta por desenvolvedores web experientes, escritores talentosos e entusiastas da
                tecnologia, todos dedicados a fornecer o melhor conteúdo possível para os nossos leitores. Estamos
                comprometidos em criar uma experiência de leitura envolvente e informativa para todos os visitantes do
                nosso blog.

                <a href="#" class="btn btn-primary d-block mt-4">Saiba mais!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}